* {
    box-sizing: border-box;
}

.loginSignupCont {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}
.loginSignupBorder {
    width: 350px;
    padding: 10px 10px 0px 10px;
    border: 1px solid grey;
    border-radius: 5px;
}

.userContainer{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.userChoice {
    cursor: pointer;
    padding: 10px;
}

.bodyContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.formContainer {
    width: 200px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

.formInput {
    padding: 5px;
    margin-top:20px;
    width: 100%;

}
.formSubmit {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.submit {
    border: 1px solid rgb(75, 176, 235);
    border-radius: 5px;
    width: 350px;
    padding: 1.3rem;
    background: rgb(64, 148, 197);
    font-size: 1.5rem;
    color:rgb(250, 250, 250);

}